.card{
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  padding: 1.6rem;
  background: var(--bg-dark600);
  text-align: center;


  h3{
    font-size: 1.8rem;
  }

  p{
    line-height: 1.2rem;
    margin-top: 0.875rem;
  }

  small{
    font-style: italic;
    font-weight: 100;
  }


  span{
    font-weight: 700;
    font-style: italic;
  }
}