:root{
  --text-primary: #FFF;
  --bg-dark400: #1A1E26;
  --bg-dark800: #08090D;
  --bg-dark600: #343A40;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--bg-dark400);
  color: var(--text-primary);
  font-family: 'Roboto', ;
}

